.container {
  padding: 10px 40px;
}

.sub-container{
  margin-top: 80px;
}

.card-grid {
  text-align: "-webkit-center" !important;
}

@media (max-width: 600px) {
  .container{
    padding: 10px 20px;
  }
  .card-content{
    padding: 10px;
    padding-bottom: 5px !important;
  }
}
